<aside class="box_r">

    <section>
        <h2>站长推荐</h2>
        <ul class="news_part03">
            <% hlist.forEach(function(item){%>
                <li>
                    <a href="https://www.siteluo7.com/A-<%=item._id%>" title="<%=item._id%>" target="_blank">
                        <p>
                            <%=item.title%>
                        </p>
                    </a>
                </li>
                <% }) %>

        </ul>
    </section>

</aside>