<footer>
    <div class="box">
        <div class="wxbox">
            <ul></ul>
        </div>
        <div class="endnav">
            <p><b>站点声明：</b></p>
            <p>Copyright &#169;
                <a href="<%=domain%>" target="_blank">
                    <%=domain%>
                </a> 飞享喜悦 All Rights Reserved. 备案号：
                <a href="http://www.beian.miit.gov.cn/" target="_blank">冀ICP备20016324号-1</a></p>
        </div>
    </div>
    <a href="#">
        <div class="top">↑</div>
    </a>
</footer>