<header id="header">
    <div class="navbox">
        <h2 id="mnavh"><span class="navicon"></span></h2>
        <div class="logo"><a href="https://www.siteluo7.com/" alt="飞享喜悦" title="飞享喜悦">飞享喜悦 |
            </a></div>
        <nav>
            <ul id="starlist">
                <li><a href="https://www.siteluo7.com/" title="首页">网站首页</a></li>
                <li><a href="https://www.siteluo7.com/list?column=推广" target="_blank">推广</a></li>
                        <li><a href="https://www.siteluo7.com/list?column=运营" target="_blank">运营</a></li>
                        <li><a href="https://www.siteluo7.com/list?column=营销" target="_blank">营销</a></li>
                        <li><a href="https://www.siteluo7.com/list?column=热门新闻" target="_blank">热门新闻</a></li>
                <li class="menu"><a href="https://www.siteluo7.com/about/" target="_blank">关于我们</a>
            </ul>
        </nav>
    </div>
</header>